<!DOCTYPE html>
<html lang="en" ng-app="authentication">
<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/vendors/angular.min.js"></script>
	<script src="/apps/homeApp.js"></script>
	<link rel="stylesheet" href="\style.css">
	<title>Log In</title>
</head> -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/vendors/angular.min.js"></script>
	<script src="/vendors/angular-material/angular-material.min.js"></script>
	<script src="/vendors/angular-aria/angular-aria.min.js"></script>
	<script src="/vendors/angular-messages/angular-messages.min.js"></script>
	<script src="/apps/authentication/AuthenticationModule.js"></script>
	<script src="\apps\navbar\navbarModule.js"></script>

	<script src="/apps/authentication/authentication.js"></script>
	<link rel="stylesheet" href="/navBars.css">
	<script src="\apps\navbar\navbar.js"></script>

	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/vendors/angular-material/angular-material.css">

	<title>Log In</title>
</head>

<body ng-controller="authenticationController">
	<navbar></navbar>
	<div class="errorDiv" ><span ng-show="errorUser" class="errorMessage">incorrect username or password</span></div>
	<div class="errorDiv"><span ng-show="errorEmpty" class="errorMessage">please fill all </span></div>


	<div class="formDiv">
			<form autocomplete="off" class="form" ng-submit="IsSigned(name,password)">
				<h2 class="black">Log in</h2>
				<input class="nameANDpass" type="text" placeholder="name" ng-model="name" name="name">
				<input class="nameANDpass" type="{{passwordType}}" placeholder="password" name="password" ng-model="password">
				<div class="check" ng-class="checkBoxColor">
				<input  ng-click="showPassword()" type="checkbox" ng-model="checkbox" id="checkbox">
				<label for="checkbox">show password </label>
			</div>
			<div>
				<button class="signIn" type="submit" >Log in</button>
			</div>
			</form>
			<div>
				<a href="/SignUp" class="moveTo">or sign up</a>
			</div>
	</div>
</body>
</html>