<!DOCTYPE html>
<html lang="en" ng-app="myTestimonies">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/vendors/angular.min.js"></script>
    <script src="/vendors/angular-material/angular-material.min.js"></script>
    <script src="/vendors/angular-aria/angular-aria.min.js"></script>
    <script src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script src="\apps\navbar.js"></script>
    <script src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script src="\apps\myTestimonies.js"></script>
    <link rel="stylesheet" href="/vendors/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="\myTestimonies.css">
    <link rel="stylesheet" href="\navBars.css">
    <title>Document</title>
</head>
<body ng-controller="myTestimoniesController">
    <navBar></navBar>
    <md-select  placeholder="filter by injury" class="md-no-underline filter" ng-model="filter">
        <md-option ng-click="fu()" ng-model="filter" ng-value="opt" ng-repeat="opt in options">{{opt}} </md-option>
        </md-select>

    <div  id={{testimony._id}} ng-repeat="testimony in myTestimonies">
        <testimony id='id' ng-show="filter===testimony.Injury.typeOfInjury||filter==='no filter'" testimony="testimony"></testimony>
    </div>
</body>
</html>