<!DOCTYPE html>
<html lang="en" ng-app="Authintication">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/vendors/angular.min.js"></script>
	<script src="/vendors/angular-material/angular-material.min.js"></script>
	<script src="/vendors/angular-aria/angular-aria.min.js"></script>
	<script src="/vendors/angular-messages/angular-messages.min.js"></script>

	<script src="/apps/Authintication.js"></script>
	<link rel="stylesheet" href="/navBars.css">
	<script src="\apps\navbar.js"></script>

	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/vendors/angular-material/angular-material.css">

	<title>Log In</title>
</head>

<body ng-controller="AuthinticationController">

	<navbar></navbar>
	<div class="errorDiv"><span ng-show="errorTaken" class="errorMessage">name or email is already in use</span></div>
	<!-- <div class="errorDiv"><span ng-if="errorEmailTaken" class="errorMessage">email is already in use</span></div> -->
	<div class="errorDiv"><span ng-if="errorEmpty" class="errorMessage">please fill all </span></div>
	
	<div class="formDiv">
			<form autocomplete="off" class="form" id="form" ng-submit="checkIfNamEmailNew(name,password,Email)">
				<h2 class="white">Sign up</h2>
				<input class="nameANDpass" type="text" placeholder="Name"  ng-model="name" name="Name">
				<input class="nameANDpass" type="{{passwordType}}" ng-model="password" placeholder="Password" name="Password">
				<input class="nameANDpass" type="email" placeholder="Email" ng-model="Email" name="Email">
				<div class="check" ng-class="checkBoxColor">
				<input  ng-click="showPassword()" type="checkbox" ng-model="checkbox" id="checkbox">
				<label for="checkbox">show password </label>
			</div>
			<div>
				<button class="signIn" type="submit">Sign up</button>
			</div>
				<a href="/login" class="moveTo">or log in</a>
			</form>
	</div>




</body>
</html>