<!DOCTYPE html>
<html lang="en" ng-app="authentication">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/public/authentication.js"></script>
	<title>Log In</title>
</head>

<body ng-controller="authenticationController">

	<navbar></navbar>

	<div class="formDiv">
		<form autocomplete="off" class="formSignUp" id="form" ng-submit="checkIfNamEmailNew(name,password,Email)">
			<h2 class="white formHead">Sign up</h2>
			<div class="inputsContainer">
				<input class="nameANDpass" type="text" placeholder="Name" ng-model="name" name="Name">
				<input class="nameANDpass" type="{{passwordType}}" ng-model="password" placeholder="Password" name="Password">
				<input class="nameANDpass" type="email" placeholder="Email" ng-model="Email" name="Email">
			</div>
			<div class="check" ng-class="checkBoxColor">
				<input ng-click="showPassword()" type="checkbox" ng-model="checkbox" id="checkbox">
				<label for="checkbox">show password </label>
			</div>
			<button class="signIn" type="submit">Sign up</button>
			<a href="/login" class="moveTo white">or log in</a>
		</form>
	</div>




</body>

</html>